// use mixins to handle common styles

@mixin flex-style($justify, $center: false, $wrap: false, $direction: false) {
  display: flex;
  justify-content: $justify;
  @if $center {
    align-items: center;
  }
  @if $wrap {
    flex-wrap: wrap;
  }
  @if $direction {
    flex-direction: column;
  }
}

@mixin courses-text($size, $weight, $color, $link: false) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @if $link {
    text-decoration: none;
  }
}

// implement font
@font-face {
  font-display: block;
  font-family: wf_93c16d86ec9d47d0a2a36894f;
  src: url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff2/file.woff2")
      format("woff2"),
    url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff/file.woff")
      format("woff"),
    url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/ttf/file.ttf")
      format("ttf");
}

// declare variables
$link-font: wf_93c16d86ec9d47d0a2a36894f;

// learning courses style

.learning-courses {
  background-color: #161616;
  display: flex;
  padding: 34px 0 35px;
  .section-title {
    margin: 0 0 67px;
    h2 {
      @include courses-text(24px, 300, #dbdbdb);
    }
  }
}

.courses-container {
  @include flex-style(flex-start, $center: true, $wrap: true);

  .course-box-wrapper {
    width: 33.3%;
    padding: 0 35px 25px 0;
    .course-box {
      @include flex-style(unset, $center: false, $direction: true);
      border: 1px solid rgb(85, 85, 85);
      border-radius: 6px;

      .course-img {
        height: 150px;
        img {
          width: 100%;
          height: 100%;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          object-fit: cover;
        }
      }
      .course-body {
        @include flex-style(space-between, $center: false, $direction: true);
        flex-grow: 1;
        padding: 34px 10px 20px 20px;
      }
      .course-title {
        h3 {
          @include courses-text(18px, 300, #f4f4f4);
        }
      }
      .registration-status {
        margin-top: 25px;
        min-height: 100px;
        p {
          @include courses-text(14px, 300, #f4f4f4);
        }
      }
      .course-details {
        @include flex-style(unset, $center: true);

        img {
          width: 17px;
          height: 16px;
          object-fit: cover;
          margin: 12px 11px 7px 0px;
        }
        a {
          @include courses-text(16px, 300, #00aeef, $link: true);
          display: inline-block;
          transition: 0.4s;
          font-family: $link-font;
          &:hover {
            color: #0080b0;
          }
        }
      }
    }
  }
}

// responsive of learning courses section

@media screen and (max-width: 992px) {
  .learning-courses {
    .section-title {
      margin: 0 0 30px;
    }
  }
  .courses-container {
    .course-box-wrapper {
      width: 100%;
      padding: 0 0 25px 0;
      .course-box {
        margin: 0;
      }
    }
  }
}
