.site-header {
  display: flex;
  background-color: #1a1e1f;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.4s, width 0.4s;
  position: fixed;
  z-index: 2;
  height: 90px;
  top: 0;
  left: 0;
  .burger-menu {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tbc-academy-logo img {
      width: 182px;
      height: 40px;
      object-fit: cover;
    }
  }
}

.menu-list {
  display: flex;
  list-style: none;
  align-items: center;

  li {
    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      padding: 15px;
      transition: color 0.4s;

      &:hover {
        color: #00a3e0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .site-header {
    .header-container {
      .tbc-academy-logo {
        img {
          width: 155px;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
    .main-navigation {
      display: none;
    }
    .burger-menu {
      display: block;
      img {
        width: 40px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
