// declare variables
$primary-bg-color: #1a1e1f;
$white-color: #fff;
$hover-color: #00a3e0;
$transparent-bg-color: rgba(34, 34, 34, 0.5);
$text-size: 14px;

// header section's styles
.site-header {
  display: flex;
  background-color: $primary-bg-color;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.4s, width 0.4s;
  position: fixed;
  z-index: 2;
  height: 90px;
  top: 0;
  left: 0;
  .mobile-menu-toggle {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .menu-list {
      display: flex;
      list-style: none;
      align-items: center;
      li {
        a {
          color: $white-color;
          text-decoration: none;
          font-size: $text-size;
          padding: 0 15px;
          transition: color 0.4s;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }

    .header-logo img {
      width: 182px;
      height: 40px;
      object-fit: cover;
    }
  }
}
.overlay-fade {
  display: none;
}

.mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
  &::after {
    content: "";
    background-color: #222222;
    height: 100vh;
    width: 60vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: all ease-out 0.5s;
  }

  .mobile-menu-items {
    display: block;
    text-align: right;
    margin-top: 90px;
    padding: 0px 8px;
    position: relative;
    z-index: 10;
    li {
      margin: 20px 0;
      list-style-type: none;

      a {
        color: $white-color;
        text-decoration: none;
        font-size: $text-size;
        padding: 0 20px;
        transition: color 0.4s;
      }
    }
  }
}

.overlay-fade.active .mobile-menu::after {
  transform: translateX(0);
}
.overlay-fade.active .mobile-menu-items li {
  animation: mobileMenuAnime 0.4s linear;
  animation-fill-mode: both;
}

// animation for mobile menu

@keyframes mobileMenuAnime {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

// responsive of mobile menu

@media screen and (max-width: 992px) {
  .site-header {
    .header-container {
      .header-logo {
        img {
          width: 155px;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
    .main-navigation {
      display: none;
    }
    .mobile-menu-toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 21px;
      width: 26px;
      transition: transform 0.33s ease-out;
      z-index: 1;
      .menu-bar {
        background-color: $white-color;
        border-radius: 1.5px;
        height: 3px;
        width: 27px;
        border-radius: 2px;
      }
      .bar1,
      .bar3 {
        width: 50%;
        transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
      }
      .bar3 {
        align-self: flex-end;
      }
    }
    .open-menu {
      display: flex;
      flex-direction: column;
      transform: rotate(-45deg);

      .bar1 {
        transform: rotate(-90deg) translateX(4px);
        transform-origin: right;
      }
      .bar-2 {
        width: 27px !important;
      }

      .bar3 {
        transform: rotate(-90deg) translateX(-4px);
        transform-origin: left;
      }
    }
    .overlay-fade {
      display: block;
      position: absolute;
      right: 0;
      background-color: $transparent-bg-color;
      width: 100%;
      height: 100vh;
      top: -25px;
      visibility: hidden;
      opacity: 0;
      transition: 0.4s;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
