.site-header {
  display: flex;
  background-color: #1a1e1f;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.4s, width 0.4s;
  position: fixed;
  z-index: 2;
  height: 90px;
  top: 0;
  left: 0;
}
.site-header .burger-menu {
  display: none;
}
.site-header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.site-header .header-container .menu-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.site-header .header-container .menu-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  transition: color 0.4s;
}
.site-header .header-container .menu-list li a:hover {
  color: #00a3e0;
}
.site-header .header-container .tbc-academy-logo img {
  width: 182px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.respo-fade {
  position: absolute;
  right: 0;
  background-color: rgba(34, 34, 34, 0.5);
  width: 100%;
  height: 100vh;
  top: -25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.respo-fade.active {
  visibility: visible;
  opacity: 1;
}

.mobile-navigation {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
}
.mobile-navigation::after {
  content: "";
  background-color: rgb(34, 34, 34);
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: all ease-out 0.5s;
}
.mobile-navigation .mobile-menu-list {
  display: block;
  margin-top: 80px;
  padding: 0px 8px;
  position: relative;
  z-index: 10;
}
.mobile-navigation .mobile-menu-list li {
  margin: 20px 0;
  list-style-type: none;
}
.mobile-navigation .mobile-menu-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  transition: color 0.4s;
}

.respo-fade.active .mobile-navigation::after {
  transform: translateX(0);
}

.respo-fade.active .mobile-menu-list li {
  animation: mobileMenuAnime 0.4s linear;
  animation-fill-mode: both;
}

@keyframes mobileMenuAnime {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 992px) {
  .site-header .header-container .tbc-academy-logo img {
    width: 155px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .site-header .main-navigation {
    display: none;
  }
  .site-header .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 26px;
    transition: transform 0.33s ease-out;
    z-index: 1;
  }
  .site-header .burger-menu .burger {
    background-color: #fff;
    border-radius: 1.5px;
    height: 3px;
    width: 27px;
    border-radius: 2px;
  }
  .site-header .burger-menu .burger1,
  .site-header .burger-menu .burger3 {
    width: 50%;
    transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  .site-header .burger-menu .burger3 {
    align-self: flex-end;
  }
  .site-header .open-menu {
    display: flex;
    flex-direction: column;
    transform: rotate(-45deg);
  }
  .site-header .open-menu .burger1 {
    transform: rotate(-90deg) translateX(4px);
    transform-origin: right;
  }
  .site-header .open-menu .burger-2 {
    width: 27px !important;
  }
  .site-header .open-menu .burger3 {
    transform: rotate(-90deg) translateX(-4px);
    transform-origin: left;
  }
}/*# sourceMappingURL=header.css.map */