// implement font.
@font-face {
  font-display: block;
  font-family: wf_f52303b2efea42e1b4aeed119;
  src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2")
      format("woff2"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff")
      format("woff"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf")
      format("ttf");
}

// declare variables.

$banner-font-family: wf_f52303b2efea42e1b4aeed119;
$base-color: #f4f4f4;

// style banner's section.
.banner-container {
  background: url(../../assets/images/common-images/banner.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 352px;
  .banner-title {
    h1 {
      margin-bottom: 20px;
      color: $base-color;
      font-family: $banner-font-family;
      font-size: 48px;
    }
    h2 {
      font-size: 34px;
      color: $base-color;
      font-family: $banner-font-family;
    }
  }
}

// responsive of banner section.

@media screen and (max-width: 992px) {
  .banner-container {
    background: url(../../assets/images/common-images/banner.jpg) no-repeat
      center;
    height: 300px;
    .banner-title {
      margin-bottom: 0;
      h1 {
        font-size: 28px;
        margin-bottom: 2px;
      }
      h2 {
        font-size: 26px;
      }
    }
  }
}
