.faq_section {
  background-color: rgb(22, 22, 22);
  color: #fff;
  width: 100%;
  min-height: fit-content;
  display: flex;
  .container_faq {
    max-width: 980px;
    width: 100%;
    margin: 40px auto;
    padding: 30px 20px 20px;
  }
  .faq_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 20px 0;
    h2 {
      font-weight: 300;
      font-size: 24px;
      color: rgb(244, 244, 244);
    }
    .view_all {
      text-decoration: none;
      span {
        display: inline-block;
        color: #00aef3;
        font-size: 20px;
        transition: 0.4s;
        &:hover {
          color: #aaaaaa;
        }
      }
    }
  }
  .faq_list {
    .faq_item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      padding: 24px 0;
      &.active {
        img {
          transform: rotate(180deg);
        }
      }

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #353131;
        position: absolute;
        bottom: 0;
      }
      .faq_question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h3 {
        font-size: 18px;
        font-weight: 300;
      }
      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        cursor: pointer;
      }
      .faq_answer {
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;

        &.visible {
          height: auto;
          padding: 20px 0 6px;
        }
        p {
          font-size: 16px;
          line-height: 2;
        }
        .level {
          font-weight: 700;
        }
        .info_about_course {
          margin: 30px 24px;
        }
      }
    }
  }
}
