@font-face {
  font-display: block;
  font-family: wf_7737b5e7be24426aa35c9f431;
  src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2")
      format("woff2"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff")
      format("woff"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf")
      format("ttf");
}

$view-all-font: wf_7737b5e7be24426aa35c9f431;
$base-color: #f4f4f4;

.faq-section {
  position: relative;
  background-color: rgb(22, 22, 22);
  width: 100%;
  min-height: fit-content;
  display: flex;

  .container-faq {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 40px;
    .view-all {
      text-decoration: none;
      span {
        display: inline-block;
        color: #00aef3;
        font-size: 20px;
        transition: 0.4s;
        font-family: $view-all-font;
        &:hover {
          color: #aaaaaa;
        }
      }
    }
  }
  .faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    h2 {
      font-weight: 300;
      font-size: 24px;
      color: $base-color;
    }
  }
  .faq-list {
    .faq-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      padding: 30px 0;
      border-bottom: 1px solid #353131;
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
      .faq-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h3 {
        font-size: 18px;
        font-weight: 300;
        color: $base-color;
      }
      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        cursor: pointer;
      }
      .faq-answer {
        transition: height 0.35s ease-in-out;
        overflow: hidden;
        &:not(.active) {
          display: none;
        }
        p {
          font-size: 14px;
          line-height: 2;
          color: $base-color;
          margin-top: 30px;
        }

        .level {
          font-weight: 700;
        }
        .info-about-course {
          margin: 30px 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .faq-section {
    .container-faq {
      .view-all {
        bottom: 30px;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .faq-title {
      h2 {
        font-size: 22px;
      }
    }
  }
}
