// implement font.

@font-face {
  font-display: block;
  font-family: wf_7737b5e7be24426aa35c9f431;
  src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2")
      format("woff2"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff")
      format("woff"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf")
      format("ttf");
}
// declare variables.

$main-font: wf_7737b5e7be24426aa35c9f431;
$primary-bg-color: #2b2b2b;
$description-txt-color: #f4f4f4;
$link-txt-color: #00aef3;
$link-txt-hover: #aaaaaa;

.information-container {
  background-color: $primary-bg-color;
  width: 100%;
  display: flex;
  padding: 56px 0;
  .course-description {
    p {
      color: $description-txt-color;
      font-size: 28px;
    }
  }
  .read-more {
    margin-top: 43px;
    .read-more-link {
      text-decoration: none;
      display: inline-block;
      transition: 0.4s;
      font-size: 20px;
      color: $link-txt-color;
      font-family: $main-font;
      &:hover {
        color: $link-txt-hover;
      }
    }
  }
}

// responsive of information section.
@media screen and (max-width: 992px) {
  .information-container {
    padding: 32px 0;
    .course-description {
      margin: 0;
      p {
        font-size: 15px;
      }
    }
    .read-more {
      margin-top: 32px;
      .read-more-link {
        font-size: 16px;
      }
    }
  }
}
