@font-face {
  font-display: block;
  font-family: wf_7737b5e7be24426aa35c9f431;
  src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2")
      format("woff2"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff")
      format("woff"),
    url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf")
      format("ttf");
}

$base-font: wf_7737b5e7be24426aa35c9f431;

.information-container {
  background-color: #2b2b2b;
  width: 100%;
  display: flex;
  .course-description {
    margin: 56px 0 0;
    p {
      color: #f4f4f4;
      font-size: 28px;
    }
  }
  .read-more-link {
    text-decoration: none;
    display: inline-block;
    margin: 43px 0 57px;
    transition: 0.4s;
    span {
      font-size: 20px;
      color: #00aef3;
      font-family: $base-font;
    }
    &:hover {
      color: #aaaaaa;
    }
  }
}

@media screen and (max-width: 992px) {
  .information-container {
    .course-description {
      margin: 56px 0 0;
      p {
        color: #f4f4f4;
        font-size: 24px;
      }
    }
  }
}
