.site-footer {
  background-color: #1a1e1f;
  display: flex;
  //   padding: 64px 0 27px;

  .footer-logos-container {
    display: flex;
    margin: 64px 0 27px;
    // align-items: center;
    justify-content: space-between;
    .tbc-logo {
      width: 106px;
      height: 30px;
      object-fit: cover;
    }
    .social-media-logos img {
      width: 39px;
      height: 39px;
      object-fit: cover;
    }
    a {
      text-decoration: none;
    }
    .facebook-logo {
      margin-right: 7px;
    }
  }
  .footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright-terms-box {
      .copyright-box span {
        color: #fff;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        transition: 0.4s;
        font-size: 14px;
      }
      .terms-link {
        display: inline-block;
        margin: 15px 0 43px;

        &:hover {
          color: #aaaaaa;
        }
      }
    }
    .contact-link {
      border-radius: 6px;
      text-decoration: none;
      color: #fff;
      padding: 7px 30px;
      margin: 0 0 30px;
      background-color: #00aef3;
      transition: 0.4s;
      &:hover {
        background-color: #d5d5d5;
        color: #353131;
      }
    }
  }
}
